:root {
  --primary-color: #470092;
  --bg-light: #f9f9f9;
  --bg-card: #ffffff;
  --text-color: #333;
  --accent-green: #00c853;
  --border-color: #ddd;
}

body {
  background-color: var(--primary-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 520px;
  margin: auto;
  padding: 2rem;
  border-radius: 16px;
  background-color: var(--bg-card);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-bottom: 2em;
}

.app-header-text {
  justify-items: left;
}

.app-header-text-title {
  margin: 0px;
  text-align: left;
}

.text-description {
  margin: 0px;
  text-align: left;
}

h1 {
  color: var(--primary-color);
  margin-bottom: 0.3rem;
  font-size: 2rem;
  margin-top: 0px;
}

p {
  font-size: 1rem;
  color: #666;
}

.input-group {
  margin-bottom: 1.2rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

input,
select {
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input:focus,
select:focus {
  border-color: var(--primary-color);
  outline: none;
}

button {
  width: 100%;
  padding: 0.7rem;
  font-size: 1.1rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #35006d;
}

.result {
  margin-top: 2rem;
  padding: 1rem;
  border-left: 5px solid var(--accent-green);
  background-color: #e8fff1;
  font-size: 1.1rem;
  border-radius: 6px;
}

.price {
  font-size: 1.5rem;
}

.tax {
  font-size: 0.8rem;
}

strong {
  color: var(--primary-color);
  font-size: 1.2rem;
}
